<form [formGroup]="resetPasswordForm" #form='ngForm' class="form-horizontal" role="form" method="POST"
  (submit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Please Entre your Usename</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input formControlName="userName" type="text" name="userName" class="form-control" id="userName"
            placeholder="John Doe" (keyup)="findUser($event)" required>
        </div>
      </div>
    </div>
    <div *ngIf="userName.touched && userName.invalid" class="col-md-3">
      <div *ngIf="userName.errors.required" class="form-control-feedback">
        <span class="text-danger align-middle">
          User name is required
        </span>
      </div>
    </div>
  </div>
  <div *ngIf='Question != null'>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-question"></i></div>
            <p id="Question">{{ Question }}?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input formControlName="answer" type="text" name="answer" class="form-control" id="answer" required>
          </div>
        </div>
      </div>
      <div *ngIf="answer.touched && answer.invalid else check" class="col-md-3">
        <div *ngIf="answer.errors.required" class="form-control-feedback">
          <span class="text-danger align-middle">
            Answer is required
          </span>
        </div>
      </div>
      <ng-template #check>
        <button *ngIf='!answer.invalid' type="button" class="app-btn vertical-center" [disabled]="!answer.valid"
          (click)="checkAnswer()">Check Answer</button>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div *ngIf="IncorrectAnswer == true" class="col-md-6">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            Incorrect answer
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="IncorrectAnswer == false" formGroupName="matchPassword">
        <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="oldPassword">Old Password</label>
            </div>
            <div class="col-md-6">
              <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                  <input formControlName="oldPassword" type="password" name="oldPassword" class="form-control" id="oldPassword"
                    placeholder="Old password">
                </div>
              </div>
            </div>
            <div *ngIf="oldPassword.touched && oldPassword.invalid" class="col-md-3">
              <div *ngIf="oldPassword.errors.required" class="form-control-feedback">
                <span class="text-danger align-middle">
                  Password is required
                </span>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input formControlName="password" type="password" name="password" class="form-control" id="password"
                placeholder="Password">
            </div>
          </div>
        </div>
        <div *ngIf="password.touched && password.invalid" class="col-md-3">
          <div *ngIf="password.errors.required" class="form-control-feedback">
            <span class="text-danger align-middle">
              Password is required
            </span>
          </div>
          <div *ngIf="password.errors.passwordLength" class="form-control-feedback">
            <span class="text-danger align-middle">
              Minimum password length is {{ password.errors.passwordLength.requiredLength }}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input formControlName="confirmPassword" type="password" name="confirmPassword" class="form-control"
                id="confirmPassword" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid else newPassword" class="col-md-3">
          <div *ngIf="confirmPassword.errors.required" class="form-control-feedback">
            <span class="text-danger align-middle">
              Password is required
            </span>
          </div>
          <div *ngIf="confirmPassword.errors.passwordMissmatch" class="form-control-feedback">
            <span class="text-danger align-middle">
              {{confirmPassword.errors.passwordMissmatch}}
            </span>
          </div>
        </div>
      </div>
      <ng-template #newPassword>
        <button *ngIf='!confirmPassword.invalid' type="button" class="app-btn vertical-center" [disabled]="!answer.valid"
          (click)="changePassword()">Change password</button>
      </ng-template>
    </div>
  </div>
</form>