
<form [formGroup]="registrationForm" #f="ngForm" role="form" method="POST" (submit)="onSubmit()">
    <div class="container">
        <div>
            <h2>Register New User</h2>
        </div>

        <div>
            <div>
                <h5 class="u-inline">Username - 
                    <div *ngIf="name.touched && name.invalid">
                        <div *ngIf="name.errors.required" class="form-control-feedback">
                            <span class="text-danger">
                                Name is required
                            </span>
                        </div>
    
                        <div *ngIf="name.errors.spaceNotAllowed" class="form-control-feedback">
                            <span class="text-danger">
                                {{name.errors.spaceNotAllowed}}
                            </span>
                        </div>
                    </div>
                </h5>
            </div>
            <div>
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input formControlName="name" type="text" name="name" class="form-control" id="name" required>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h5 class="u-inline">E-Mail Address - 
                    <div *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors.required" class="form-control-feedback">
                            <span class="text-danger align-middle">
                                Email is required
                            </span>
                        </div>
                        <div *ngIf="email.errors.email" class="form-control-feedback">
                            <span class="text-danger align-middle">
                                Please provide a valide Email
                            </span>
                        </div>
                    </div>
                </h5>
            </div>
            <div>
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input formControlName="email" type="text" name="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="matchPassword">
            <div>
                <div>
                    <h5 class="u-inline" for="password">Password -
                        <div *ngIf="password.touched && password.invalid">
                            <div *ngIf="password.errors.required" class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    Password is required
                                </span>
                            </div>
                        </div>
                    </h5>
                </div>
                <div>
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input formControlName="password" type="password" name="password" class="form-control" id="password">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <h5 class="u-inline"  for="confirmPassword">Confirm Password - 
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                            <div *ngIf="confirmPassword.errors.required" class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    Password is required
                                </span>
                            </div>
                            <div *ngIf="confirmPassword.errors.passwordMissmatch" class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    {{confirmPassword.errors.passwordMissmatch}}
                                </span>
                            </div>
                        </div>
                    </h5>
                </div>
                <div>
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input formControlName="confirmPassword" type="password" name="confirmPassword" class="form-control" id="confirmPassword">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-success">
                    Register
            </button>
        </div>

        <div>
            <a class="nav-link" routerLinkActive='active' routerLink='/user/login' href="#">Have an account?</a>
        </div>
    </div>
</form>
