<div class="pt-2 pb-2" style="background-color:#222831">
  <nav class="nav">
    <!-- Login Location -->
    <div class="logo">
      <a href="/" aria-label="FunAnguler">
        <img class="ml-2 mr-2 vertical-center" src="../../../favicon.ico">
      </a>
    </div>

    <!-- Nav Left Position -->
    <div class="nav-left vertical-center">
      <a *ngIf="isLogedIn && isAdmin" routerLink="/admin" class="nav-link">Admin</a>
    </div>

    <!-- Nav Right Position -->
    <div class="nav-right">
      <a *ngIf="!isLogedIn; else notLogedIn" class="app-btn vertical-center" routerLink='/user/login' href="#" rel="nofollow">
        <span>Login Test</span>
      </a>
      <ng-template #notLogedIn>
        <a class="app-btn vertical-center" routerLink='' (click)="onLogout()">Logout</a>
      </ng-template>
    </div>
  </nav>
</div>
